{% extends 'base.html' %}
{% load static %}
{% block header %}
<header class="masthead" style="background-image: url('{%static "assets/img/home-bg.jpg"%}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Clean Blog</h1>
                    <span class="subheading">A Blog Theme by Start Bootstrap</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock header %}

{% block content %}
<div class="container px-4 px-lg-5" id="main-content">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7" id="container-posts">
            <!-- Pager-->
            <div id="pagination-section"></div>
        </div>
    </div>
</div>
<script>
        
    function generatePostHTML(title, publishedDate, author, summary, _id) {
        const post = `
            <!-- Post preview-->
            <div class="post-preview" id="${_id}">
                <a href="post.html">
                    <h2 class="post-title">${title}</h2>
                    <h3 class="post-subtitle">${summary.substring(0,100)}...</h3>
                </a>
                <p class="post-meta">
                    ${author ? `Posted by <a href="#!">${author}</a>` : ''}
                    
                    On ${publishedDate}
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
        `
        return post
    }
    function renderArticles(articles){
        const containerPosts = document.querySelector("#container-posts")
        containerPosts.innerHTML = ''
        articles.forEach(({title, author, release_date, extract,id}) => {
            const post = generatePostHTML(title, release_date, author, extract, id)
            containerPosts.innerHTML += post
        })
    }
    function fetchPosts(link){
        let posts;
        fetch(link)
        .then(response => response.json())
        .then(data => {
            renderArticles(data.results)
        })
    }
    fetchPosts('api/posts')
</script>
{% endblock content %}