{% extends 'base.html' %}
{% block content %}
<section class="mt-5 p-5">
    <div class="container-fluid p-0 vh-100 d-flex flex-column justify-content-center align-items-center" id="main-content">
        <div class="row justify-content-center w-50">
            <div class="login-container col-12">
                <div class="logo-area d-flex justify-content-center">
                    <h2>Tech Blog</h2>
                </div>
                <div class="form-area">
                    <form>
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Email address</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Password</label>
                          <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="mb-3 form-check">
                          <input type="checkbox" class="form-check-input" id="exampleCheck1">
                          <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div>
                        <div class="btn-area d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                      </form>
                </div>
            </div>
    
        </div>
    </div>
</section>
{% endblock content %}