{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="mt-5 p-5 row">
  <div class="container-fluid p-0 d-flex flex-column justify-content-center align-items-center" id="main-content">
    <div class="row justify-content-center w-50">
      <div class="login-container col-12">
        <div class="logo-area d-flex justify-content-center">
          <h2>Tech Blog - Register</h2>
        </div>
        <div class="form-area">
          <div class="alert alert-danger mt-2 d-none" id="alert-area">
          </div>
          <form id="register-form" name="register-form">
            {% csrf_token %}
            <div class="mb-3">
                <label for="name" class="form-label">Full Name</label>
                <input type="text" class="form-control" id="name" name="name" aria-describedby="nameHelp">
              </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email address</label>
              <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="password1" class="form-label">Password</label>
              <input type="password" class="form-control" name="password1" id="password1">
            </div>
            <div class="mb-3">
                <label for="password2" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" name="password2" id="password2">
              </div>
            <div class="btn-area d-flex justify-content-center">
              <button type="submit" class="btn btn-primary" id="btn-submit">Register</button>
            </div>
            <div class="social-login-area d-flex justify-content-center align-items-center mt-3">
              <div id="gSignInWrapper">
                <div id="customBtn" class="customGPlusSignIn d-flex justify-content-center align-items-center">
                  <span class="icon"></span>
                  <span class="buttonText" onclick="oauthSignIn()">Google</span>
                </div>
              </div>            
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</section>
{% endblock content %}
